body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    background-color: yellow;
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
}

ul {
    list-style: none;
    display: inline-flex;
    padding-inline-start: 0;
}

ul li {
    padding: 0.5em;
    border-style:solid;
    border-color: yellow;
    background-color: #004e56;
}

ul li a {
    color:white;
}

ul li:hover {
    background-color: black ;  
}

.texthome {
    text-align: justify;
    padding: 1em;
    width: 90%;
    text-justify: inter-word;
    margin: 0;
}

footer {
    text-align: center;
    font-size: x-small;
}

footer a {
    text-decoration: none;
    color:#004e56;
    font-weight: normal; 
}

.logo {
    width: 30%;
    height: inherit;
    padding: 1em;
}

.social {
    width: 40px;
    height: inherit;
    padding: 1em;
}

.picture {
    width: 90%;
    padding: 1em;
    text-align: center;

}

header {
    margin-top: 0%;
}

.title {
    display: flex;
    align-items: center;
}

.title h1 {
    font-size: 1.5em;
    color: #004e56;
    font-weight: bold;
}

main {
    margin-top: 0%;
}

a {
    text-decoration: none;
    color:#004e56;
    font-weight: bold;
}